:root{
    /* Colors */
    --elements-color: #ffffff;
    --background-color: #E3E3E3;
    --primary-font-color: #000000;
    --seconadry-font-color: #DBF227;
    --divider-color: #042940;
    --primary-color: #042940;
    --secondary-color: #DBF227;
    --thirdly-color: #005C53;

    /* Shadows */
    --main-shadow-color: #0000002c;
    --down-shadow: 10px 0px 16px;
    --diagonal-shadow: 10px 10px 16px;

    /* Font Weight */
    --font-extralight: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* Font size */
    --font-h1: 24px;
    --font-h2: 14px;
    --font-h3: 12px;
    --font-p: 12px;
    --icons: 18px;

    /* Margins */
    --margin-1: 6px;
    --margin-2: 10px;
    --margin-3: 20px;

    /* Buttons */
    --buttons-transition: 0.2s ease;
    --buttons-translate: -3px;
    --buttons-font: 14px;
    --buttons-border: 1px;
    --border-border-radius: 2px;

    /* Elements style */
    --input-border: 1px;
    --border-radius: 2px;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100vw;
    height: 50px;
    background-color: var(--background-color);
    box-shadow: var(--main-shadow);
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    overflow-x: hidden;
}

h1{
    font-size: var(--font-h1);
    color: var(--primary-font-color);
    margin: 0;
}

h2 {
    font-size: var(--font-h2);
    color: var(--primary-font-color);
    margin: 0;
    font-weight: var(--font-light);
}

h3 {
    font-size: var(--font-h3);
    color: var(--secondary-font-color);
    margin: 0;
}

p {
    font-size: var(--font-p);
    color: var(--primary-font-color);
    margin: 0;
    font-weight: var(--font-light);
}

strong{
    font-weight: var(--font-medium);
}

button {
    border: none;
    outline: none;
    padding: 4px 20px;
    font-size: var(--font-extra-small);
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

footer {
    width: 99vw;
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    background-color: var(--backgroundColor);
    color: var(--basic-font-color);
    font-size: var(--font-light);
}

.font-extralight {
    font-weight: var(--font-extralight);
}

.font-light{
    font-weight: var(--font-light);
}

.font-regular{
    font-weight: var(--font-regular);
}

.font-medium {
    font-weight: var(--font-medium);
}

.font-bold {
    font-weight: var(--font-bold);
}

.divider{
    height: 1px;
    width: 100%;
    background-color: var(--divider-color);
    border-radius: 1px;
    margin: var(--margin-3) 0px;
}

header img{
    height: 60%;
}

.header-buttons-box{
    /* background-color:#a6a6a6; */
    width: 200px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-outline {
    background-color: transparent;
    border: var(--buttons-border) solid var(--primary-color);
    color: var(--primary-color);
    transition: var(--buttons-transition);
}

.btn-outline-secondary {
    background-color: transparent;
    border: var(--buttons-border) solid var(--secondary-color);
    color: var(--secondary-color);
    transition: var(--buttons-transition);
}

.btn-outline-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.btn-outline:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.informations{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: var(--margin-3) 0px;
}

.export-pdf{
    margin: 50px 20px;
}

.left-box{
    width: 26%;
    /* background-color: aquamarine; */
}

.right-box{
    /* width: 70%; */
    margin-left: 30px;
    flex: 1;
    /* background-color: aqua; */
}

.main-photo{
    width: 100%;
}

.blank-p{
    height: var(--font-p);
    width: 100%;
    background-color: transparent;
}

.font-center{
    text-align: center;
    width: 100%;
    margin: var(--margin-1) 0px;
}

.heading{
    width: 100%;
    font-size: var(--font-h2);
    font-weight: var(--font-medium);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: var(--margin-2) 0px;
}

.heading span{
    margin-right: var(--margin-2);
    font-size: var(--icons);
}

ul{
    list-style: outside;
    list-style-type: disc;
    font-size: var(--font-p);
    margin: var(--margin-3) 0px;
}

.generate-button{
    padding: 10px 20px;
    margin-top: 50px;
    width: 100%;
}



